@media screen and (min-width: 1800px) and (min-width: 1800px) {
    .container {
        margin: 0 auto;
        display: grid;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1321px ) and ( max-width: 1799px) {
    .container {
        margin: 0 auto;
        display: grid;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1320px ) and ( max-width: 1320px) {
    .container {
        margin: 0 auto;
        display: grid;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and ( min-width: 889px) and ( max-width: 1288px) {
    .container {
        margin: 0 auto;
        display: grid;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and ( min-width: 450px) and ( max-width: 888px) {
    .container {
        margin: 0 auto;
        display: grid;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
}

body {
    /* overflow-y: hidden; Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color: #000000;
    /* overflow-y: hidden; */
}

.container::-webkit-scrollbar {
    display: none;
}

.container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
  }

.card {
 /* Display in a grid-like structure */
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .article-card {
    width: 100%;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
  }
  
  .article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  }
  
  .article-card .subtext,
  .article-card .title {
    margin: 0;
  }
  
  .article-card .subtext {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
  }
  
  .article-card .title {
    font-size: 17px;
    color: #fff;
  }
  
  .logo img{
    /* Make it small in the right top corner*/
    position: absolute;
    height: auto;
    width: 100px;
    top: 0;
    right: 0;
    max-width: 50px;
  }

  #art {
    border: 1px solid #ed0000;
    box-shadow: 0 0 10px #ed0000;
    overflow: hidden;
  }

  #store {
    border: 1px solid #ed0000;
    box-shadow: 0 0 10px #ed0000;
    overflow: hidden;
}

  #quote {
    border: 1px solid #d4af37;
    box-shadow: 0 0 10px #d4af37;
    overflow: hidden;  
}

  #discord {
    border: 1px solid #738ADB;
    box-shadow: 0 0 10px #738ADB;
    overflow: hidden;
  }

  #tiktok {
    border-top: 1px solid #25F4EE;
    border-left: 1px solid #25F4EE;
    border-bottom: 1px solid #FE2C55;
    border-right: 1px solid #FE2C55;
    box-shadow: 0 0 10px #FE2C55;
    overflow: hidden;  
}

  #youtube {
    border: 1px solid #FF0000;
    box-shadow: 0 0 10px #FF0000;
    overflow: hidden;  
}

  #instagram {
    border: 1px solid #d62976;
    box-shadow: 0 0 10px #d62976;
    overflow: hidden;  
}

  #facebook {
    border: 1px solid #1877F2;
    box-shadow: 0 0 10px #1877F2;
    overflow: hidden;  
}

  #paypal {
    border: 1px solid #2577c4;
    box-shadow: 0 0 10px #0e11e2;
    overflow: hidden;  
}

  #amazon {
    border: 1px solid #d4af37;
    box-shadow: 0 0 10px #d4af37;
    overflow: hidden;  
}

  #revolute {
    border: 1px solid #d4af37;
    box-shadow: 0 0 10px #d4af37;
    overflow: hidden;  
}

  #kofi {
    border: 1px solid #FF5E5B;
    box-shadow: 0 0 10px #FF5E5B;
    overflow: hidden;  
}

  #crypto {
    border: 1px solid #0D67FE;
    box-shadow: 0 0 10px #0D67FE;
    overflow: hidden;  
} 

  #mastodon {
    border: 1px solid #79aaff;
    box-shadow: 0 0 10px #79aaff;
    overflow: hidden;  
} 

  #patreon {
    border: 1px solid #fc800d;
    box-shadow: 0 0 10px #fc800d;
    overflow: hidden;  
}

#kofi, #crypto, #mastodon, #patreon, #revolutem #store #quote, #discord, #tiktok, #youtube, #instagram, #facebook, #paypal, #amazon, #revolute {
    position: relative; /* Add this line */
}

#kofi a, #crypto a, #mastodon a, #patreon a, #revolute a, #store a, #quote a, #discord a, #tiktok a, #youtube a, #instagram a, #facebook a, #paypal a, #amazon a, #revolute a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}